grammar List
  rule list
    atom more_atoms:(',' atom)* {
      def atoms; [atom] + more_atoms.elements.map{|m| m.atom}; end
    }
  end
  rule atom
    '(' list ')' / number
  end
  rule number
    ('-'? [1-9] [0-9]* / '0')
  end
end