grammar Minitop
  rule expression
    (special_character / anything)+
  end

  rule special_character
    '\S' / '\s' / '\W' / '\w' / '\A' / '\D' / '\d' / '\z' / '$' / '^'
  end

  rule anything
    .
  end
end